In [2]:
import pandas as pd
from bs4 import BeautifulSoup
import requests
import io

def read_url(url):
    s=requests.get(url).content
    c=pd.read_csv(io.StringIO(s.decode('utf-8')))
    return c

In [2]:
response = requests.get("https://cycling.data.tfl.gov.uk/")
soup = BeautifulSoup(response.text, "html.parser")

soup.find_all('tr')

[<tr>
 <th>Name</th>
 <th>Date Modified</th>
 <th>Size</th>
 <th>Type</th>
 <th>Description</th>
 </tr>]

In [3]:
print('a')

a

In [4]:
data=pd.read_csv('/Users/thammadoltansrivorarat/code/elsebasmar/london-bss/raw_data/tripcsvbame.csv')

In [5]:
#pre e-bike 0-69
link="https://cycling.data.tfl.gov.uk/usage-stats/"
frame=[]
for item in data['usage-stats/'][:70]:
    if item[-3:]=='csv':
        file=link+item[1:]
        frame.append(read_url(file))

In [6]:
result2=pd.concat(frame)
result2

,Rental Id,Duration,Bike Id,End Date,EndStation Id,EndStation Name,Start Date,StartStation Id,StartStation Name,Unnamed: 9,Unnamed: 10,Unnamed: 11
0,50754225,240.0,11834,10/01/2016 00:04,383.0,"Frith Street, Soho",10/01/2016 00:00,18,"Drury Lane, Covent Garden",NaN,NaN,NaN
1,50754226,300.0,9648,10/01/2016 00:05,719.0,"Victoria Park Road, Hackney Central",10/01/2016 00:00,479,"Pott Street, Bethnal Green",NaN,NaN,NaN
2,50754227,1200.0,10689,10/01/2016 00:20,272.0,"Baylis Road, Waterloo",10/01/2016 00:00,425,"Harrington Square 2, Camden Town",NaN,NaN,NaN
3,50754228,780.0,8593,10/01/2016 00:14,471.0,"Hewison Street, Old Ford",10/01/2016 00:01,487,"Canton Street, Poplar",NaN,NaN,NaN
4,50754229,600.0,8619,10/01/2016 00:11,399.0,"Brick Lane Market, Shoreditch",10/01/2016 00:01,501,"Cephas Street, Bethnal Green",NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
157826,83622441,1080.0,7785,17/01/2019 08:49,594.0,"Kingsway Southbound, Strand",17/01/2019 08:31,365,"City Road, Angel",NaN,NaN,NaN
157827,83621355,120.0,5986,17/01/2019 08:16,75.0,"Torrens Street, Angel",17/01/2019 08:14,365,"City Road, Angel",NaN,NaN,NaN
157828,83622514,780.0,10292,17/01/2019 08:45,41.0,"Pindar Street, Liverpool Street",17/01/2019 08:32,365,"City Road, Angel",NaN,NaN,NaN
157829,83691789,660.0,9507,20/01/2019 11:44,217.0,"Wormwood Street, Liverpool Street",20/01/2019 11:33,365,"City Road, Angel",NaN,NaN,NaN
157830,83739492,300.0,5530,22/01/2019 08:54,246.0,"Berry Street, Clerkenwell",22/01/2019 08:49,365,"City Road, Angel",NaN,NaN,NaN

In [7]:
result2=result2.drop('Unnamed: 9',axis=1)
result2=result2.drop('Unnamed: 10',axis=1)
result2=result2.drop('Unnamed: 11',axis=1)

In [8]:
date_format = '%d/%m/%Y %H:%M:%S'
result2['End Date']=pd.to_datetime(result2['End Date'],format='mixed')
result2['Start Date']=pd.to_datetime(result2['Start Date'],format='mixed')
result2

,Rental Id,Duration,Bike Id,End Date,EndStation Id,EndStation Name,Start Date,StartStation Id,StartStation Name
0,50754225,240.0,11834,2016-10-01 00:04:00,383.0,"Frith Street, Soho",2016-10-01 00:00:00,18,"Drury Lane, Covent Garden"
1,50754226,300.0,9648,2016-10-01 00:05:00,719.0,"Victoria Park Road, Hackney Central",2016-10-01 00:00:00,479,"Pott Street, Bethnal Green"
2,50754227,1200.0,10689,2016-10-01 00:20:00,272.0,"Baylis Road, Waterloo",2016-10-01 00:00:00,425,"Harrington Square 2, Camden Town"
3,50754228,780.0,8593,2016-10-01 00:14:00,471.0,"Hewison Street, Old Ford",2016-10-01 00:01:00,487,"Canton Street, Poplar"
4,50754229,600.0,8619,2016-10-01 00:11:00,399.0,"Brick Lane Market, Shoreditch",2016-10-01 00:01:00,501,"Cephas Street, Bethnal Green"
...,...,...,...,...,...,...,...,...,...
157826,83622441,1080.0,7785,2019-01-17 08:49:00,594.0,"Kingsway Southbound, Strand",2019-01-17 08:31:00,365,"City Road, Angel"
157827,83621355,120.0,5986,2019-01-17 08:16:00,75.0,"Torrens Street, Angel",2019-01-17 08:14:00,365,"City Road, Angel"
157828,83622514,780.0,10292,2019-01-17 08:45:00,41.0,"Pindar Street, Liverpool Street",2019-01-17 08:32:00,365,"City Road, Angel"
157829,83691789,660.0,9507,2019-01-20 11:44:00,217.0,"Wormwood Street, Liverpool Street",2019-01-20 11:33:00,365,"City Road, Angel"
157830,83739492,300.0,5530,2019-01-22 08:54:00,246.0,"Berry Street, Clerkenwell",2019-01-22 08:49:00,365,"City Road, Angel"

In [9]:
result2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 17441274 entries, 0 to 157830
Data columns (total 9 columns):
 #   Column             Dtype
---  ------             -----
 0   Rental Id          int64
 1   Duration           float64
 2   Bike Id            int64
 3   End Date           datetime64[ns]
 4   EndStation Id      float64
 5   EndStation Name    object
 6   Start Date         datetime64[ns]
 7   StartStation Id    int64
 8   StartStation Name  object
dtypes: datetime64[ns](2), float64(2), int64(3), object(2)
memory usage: 1.3+ GB

In [10]:
new_result=result2.set_index('Start Date').groupby([pd.Grouper(freq='h'), 'StartStation Name', 'EndStation Name']).count()

In [11]:
new_result=new_result.reset_index()
new_result

,Start Date,StartStation Name,EndStation Name,Rental Id,Duration,Bike Id,End Date,EndStation Id,StartStation Id
0,2015-01-10 00:00:00,"Abbey Orchard Street, Westminster","Ashmole Estate, Oval",1,1,1,1,1,1
1,2015-01-10 00:00:00,"Abbey Orchard Street, Westminster","Triangle Car Park, Hyde Park",1,1,1,1,1,1
2,2015-01-10 00:00:00,"Ada Street, Hackney Central","Bow Road Station, Bow",1,1,1,1,1,1
3,2015-01-10 00:00:00,"Albert Gate, Hyde Park","Sackville Street, Mayfair",2,2,2,2,2,2
4,2015-01-10 00:00:00,"Alfred Place, Bloomsbury","Calshot Street , King's Cross",1,1,1,1,1,1
...,...,...,...,...,...,...,...,...,...
14574278,2019-12-01 23:00:00,"Woodstock Street, Mayfair","Charlbert Street, St. John's Wood",1,1,1,1,1,1
14574279,2019-12-01 23:00:00,"World's End Place, West Chelsea","Upcerne Road, West Chelsea",2,2,2,2,2,2
14574280,2019-12-01 23:00:00,"Wormwood Street, Liverpool Street","Theobald's Road , Holborn",1,1,1,1,1,1
14574281,2019-12-01 23:00:00,"Wright's Lane, Kensington","Brook Green South, Brook Green",1,1,1,1,1,1
14574282,2019-12-01 23:00:00,"York Hall, Bethnal Green","Jubilee Street, Stepney",1,1,1,1,1,1

In [12]:
new_result['No of trips']=new_result['Duration']
new_result.drop(columns=['Rental Id'],inplace=True)
new_result.drop(columns=['Duration'],inplace=True)
new_result.drop(columns=['Bike Id'],inplace=True)
new_result.drop(columns=['End Date'],inplace=True)
new_result.drop(columns=['EndStation Id'],inplace=True)
new_result.drop(columns=['StartStation Id'],inplace=True)
new_result

,Start Date,StartStation Name,EndStation Name,No of trips
0,2015-01-10 00:00:00,"Abbey Orchard Street, Westminster","Ashmole Estate, Oval",1
1,2015-01-10 00:00:00,"Abbey Orchard Street, Westminster","Triangle Car Park, Hyde Park",1
2,2015-01-10 00:00:00,"Ada Street, Hackney Central","Bow Road Station, Bow",1
3,2015-01-10 00:00:00,"Albert Gate, Hyde Park","Sackville Street, Mayfair",2
4,2015-01-10 00:00:00,"Alfred Place, Bloomsbury","Calshot Street , King's Cross",1
...,...,...,...,...
14574278,2019-12-01 23:00:00,"Woodstock Street, Mayfair","Charlbert Street, St. John's Wood",1
14574279,2019-12-01 23:00:00,"World's End Place, West Chelsea","Upcerne Road, West Chelsea",2
14574280,2019-12-01 23:00:00,"Wormwood Street, Liverpool Street","Theobald's Road , Holborn",1
14574281,2019-12-01 23:00:00,"Wright's Lane, Kensington","Brook Green South, Brook Green",1
14574282,2019-12-01 23:00:00,"York Hall, Bethnal Green","Jubilee Street, Stepney",1

In [13]:
new_names={}
for column_name in new_result.columns:
    new_names[column_name]=column_name.replace('_','').lstrip().replace(' ','')
new_names

{'Start Date': 'StartDate',
 'StartStation Name': 'StartStationName',
 'EndStation Name': 'EndStationName',
 'No of trips': 'Nooftrips'}

In [14]:
new_result=new_result.rename(new_names,axis=1)
new_result

,StartDate,StartStationName,EndStationName,Nooftrips
0,2015-01-10 00:00:00,"Abbey Orchard Street, Westminster","Ashmole Estate, Oval",1
1,2015-01-10 00:00:00,"Abbey Orchard Street, Westminster","Triangle Car Park, Hyde Park",1
2,2015-01-10 00:00:00,"Ada Street, Hackney Central","Bow Road Station, Bow",1
3,2015-01-10 00:00:00,"Albert Gate, Hyde Park","Sackville Street, Mayfair",2
4,2015-01-10 00:00:00,"Alfred Place, Bloomsbury","Calshot Street , King's Cross",1
...,...,...,...,...
14574278,2019-12-01 23:00:00,"Woodstock Street, Mayfair","Charlbert Street, St. John's Wood",1
14574279,2019-12-01 23:00:00,"World's End Place, West Chelsea","Upcerne Road, West Chelsea",2
14574280,2019-12-01 23:00:00,"Wormwood Street, Liverpool Street","Theobald's Road , Holborn",1
14574281,2019-12-01 23:00:00,"Wright's Lane, Kensington","Brook Green South, Brook Green",1
14574282,2019-12-01 23:00:00,"York Hall, Bethnal Green","Jubilee Street, Stepney",1

In [3]:
new_result = pd.read_csv('new_result.csv')

In [4]:
from londonbss.params import *
from londonbss.ml_logic.data import load_data_to_bq

load_data_to_bq(new_result,gcp_project=GCP_PROJECT,bq_dataset=BQ_DATASET,table=f'processed_{DATA_SIZE}',truncate=True)

Save data to BigQuery @ wagon-bootcamp-396316.londonbss.processed_all...:
âœ… Data saved to bigquery, with shape (14574283, 5)

LoadJob<project=wagon-bootcamp-396316, location=EU, id=b9856b96-2695-4025-8cf8-38f67989f85b>

In [10]:
with open('out.csv', 'w') as creating_new_csv_file: 
   pass 
print("Empty File Created Successfully")

Empty File Created Successfully

In [27]:
result2.columns

Index(['Rental Id', 'Duration', 'Bike Id', 'End Date', 'EndStation Id',
       'EndStation Name', 'Start Date', 'StartStation Id', 'StartStation Name',
       'Unnamed: 9', 'Unnamed: 10', 'Unnamed: 11',
       'EndStation Logical Terminal', 'endStationPriority_id',
       'StartStation Logical Terminal', 'Number', 'Start date',
       'Start station number', 'Start station', 'End date',
       'End station number', 'End station', 'Bike number', 'Bike model',
       'Total duration', 'Total duration (ms)', 'Duration_Seconds',
       'End Station Id', 'End Station Name', 'Start Station Id',
       'Start Station Name'],
      dtype='object')

In [17]:
result2.to_csv("out.csv")

In [ ]:
result2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 87658293 entries, 0 to 420117
Data columns (total 31 columns):
 #   Column                         Dtype
---  ------                         -----
 0   Rental Id                      float64
 1   Duration                       float64
 2   Bike Id                        float64
 3   End Date                       object
 4   EndStation Id                  float64
 5   EndStation Name                object
 6   Start Date                     object
 7   StartStation Id                float64
 8   StartStation Name              object
 9   Unnamed: 9                     float64
 10  Unnamed: 10                    float64
 11  Unnamed: 11                    float64
 12  EndStation Logical Terminal    float64
 13  endStationPriority_id          float64
 14  StartStation Logical Terminal  float64
 15  Number                         float64
 16  Start date                     object
 17  Start station number           object
 18  Start station                  object
 19  End date                       object
 20  End station number             object
 21  End station                    object
 22  Bike number                    float64
 23  Bike model                     object
 24  Total duration                 object
 25  Total duration (ms)            float64
 26  Duration_Seconds               float64
 27  End Station Id                 float64
 28  End Station Name               object
 29  Start Station Id               float64
 30  Start Station Name             object
dtypes: float64(17), object(14)
memory usage: 20.9+ GB

In [9]:
result2['Rental Id']=result2['Rental Id'].combine_first(result2['Number'])

In [10]:
result2['Duration']=result2['Duration'].combine_first(result2['Total duration'])
result2['Duration']=result2['Duration'].combine_first(result2['Total duration (ms)'])
result2['Duration']=result2['Duration'].combine_first(result2['Duration_Seconds'])

In [12]:
result2['StartStation Id']=result2['StartStation Id'].combine_first(result2['Start Station Id'])
result2['EndStation Id']=result2['EndStation Id'].combine_first(result2['End Station Id'])
result2['StartStation Name']=result2['StartStation Name'].combine_first(result2['Start Station Name'])
result2['EndStation Name']=result2['EndStation Name'].combine_first(result2['End Station Name'])

result2['End Date']=result2['End Date'].combine_first(result2['End date'])

In [ ]:
result2.drop('EndStation Logical Terminal',axis=1)
result2.drop('endStationPriority_id',axis=1)
result2.drop('StartStation Logical Terminal',axis=1)
result2.drop('Bike number',axis=1)
result2.drop('Bike model',axis=1)

In [40]:
result2

,Rental Id,Duration,Bike Id,End Date,EndStation Id,EndStation Name,Start Date,StartStation Id,StartStation Name
0,50754225,240.0,11834,2016-10-01 00:04:00,383.0,"Frith Street, Soho",2016-10-01 00:00:00,18,"Drury Lane, Covent Garden"
1,50754226,300.0,9648,2016-10-01 00:05:00,719.0,"Victoria Park Road, Hackney Central",2016-10-01 00:00:00,479,"Pott Street, Bethnal Green"
2,50754227,1200.0,10689,2016-10-01 00:20:00,272.0,"Baylis Road, Waterloo",2016-10-01 00:00:00,425,"Harrington Square 2, Camden Town"
3,50754228,780.0,8593,2016-10-01 00:14:00,471.0,"Hewison Street, Old Ford",2016-10-01 00:01:00,487,"Canton Street, Poplar"
4,50754229,600.0,8619,2016-10-01 00:11:00,399.0,"Brick Lane Market, Shoreditch",2016-10-01 00:01:00,501,"Cephas Street, Bethnal Green"
...,...,...,...,...,...,...,...,...,...
157826,83622441,1080.0,7785,2019-01-17 08:49:00,594.0,"Kingsway Southbound, Strand",2019-01-17 08:31:00,365,"City Road, Angel"
157827,83621355,120.0,5986,2019-01-17 08:16:00,75.0,"Torrens Street, Angel",2019-01-17 08:14:00,365,"City Road, Angel"
157828,83622514,780.0,10292,2019-01-17 08:45:00,41.0,"Pindar Street, Liverpool Street",2019-01-17 08:32:00,365,"City Road, Angel"
157829,83691789,660.0,9507,2019-01-20 11:44:00,217.0,"Wormwood Street, Liverpool Street",2019-01-20 11:33:00,365,"City Road, Angel"
157830,83739492,300.0,5530,2019-01-22 08:54:00,246.0,"Berry Street, Clerkenwell",2019-01-22 08:49:00,365,"City Road, Angel"

##ignore everything below

In [ ]:
result2.drop('Total duration')
result2.drop('Total duration (ms)')
result2.drop('Duration_Seconds')
result2.drop('End Station Id')
result2.drop('End Station Name')
result2.drop('Start Station Id')
result2.drop('Start Station Name')

In [21]:
dat=data['usage-stats/'][:2]
frames=[]
for x in dat:
    frames.append(pd.read_csv(x[1:]))

result = pd.concat(frames)
result

,Rental Id,Duration,Bike Id,End Date,EndStation Id,EndStation Name,Start Date,StartStation Id,StartStation Name
0,50754225,240,11834,10/01/2016 00:04,383.0,"Frith Street, Soho",10/01/2016 00:00,18,"Drury Lane, Covent Garden"
1,50754226,300,9648,10/01/2016 00:05,719.0,"Victoria Park Road, Hackney Central",10/01/2016 00:00,479,"Pott Street, Bethnal Green"
2,50754227,1200,10689,10/01/2016 00:20,272.0,"Baylis Road, Waterloo",10/01/2016 00:00,425,"Harrington Square 2, Camden Town"
3,50754228,780,8593,10/01/2016 00:14,471.0,"Hewison Street, Old Ford",10/01/2016 00:01,487,"Canton Street, Poplar"
4,50754229,600,8619,10/01/2016 00:11,399.0,"Brick Lane Market, Shoreditch",10/01/2016 00:01,501,"Cephas Street, Bethnal Green"
...,...,...,...,...,...,...,...,...,...
292694,51360634,600,10400,07/02/2016 00:07,48.0,"Godliman Street, St. Paul's",06/02/2016 23:57,388,"Southampton Street, Strand"
292695,51360635,240,2320,07/02/2016 00:01,574.0,"Eagle Wharf Road, Hoxton",06/02/2016 23:57,73,"Old Street Station, St. Luke's"
292696,51360636,720,11143,07/02/2016 00:09,535.0,"Gloucester Avenue, Camden Town",06/02/2016 23:57,109,"Soho Square , Soho"
292697,51360637,900,6848,07/02/2016 00:14,732.0,"Duke Street Hill, London Bridge",06/02/2016 23:59,443,"Philpot Street, Whitechapel"
292698,51360638,1080,12549,07/02/2016 00:17,462.0,"Bonny Street, Camden Town",06/02/2016 23:59,695,"Islington Green, Angel"

In [31]:
#from datetime import datetime
date_format = '%d/%m/%Y %H:%M:%S'
result2['End Date']=pd.to_datetime(result2['End Date'],format='mixed')
result2['Start Date']=pd.to_datetime(result2['Start Date'],format='mixed')
result2

KeyboardInterrupt:

In [16]:

result2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 11323770 entries, 0 to 286955
Data columns (total 9 columns):
 #   Column             Dtype
---  ------             -----
 0   Rental Id          int64
 1   Duration           float64
 2   Bike Id            int64
 3   End Date           datetime64[ns]
 4   EndStation Id      float64
 5   EndStation Name    object
 6   Start Date         datetime64[ns]
 7   StartStation Id    int64
 8   StartStation Name  object
dtypes: datetime64[ns](2), float64(2), int64(3), object(2)
memory usage: 863.9+ MB

In [ ]:
result['StartStation Name'].unique()

array(['Drury Lane, Covent Garden', 'Pott Street, Bethnal Green',
       'Harrington Square 2, Camden Town', 'Canton Street, Poplar',
       'Cephas Street, Bethnal Green', 'Sandilands Road, Walham Green',
       'Chrisp Street Market, Poplar', 'The Vale, West Chelsea',
       'Vicarage Crescent, Battersea',
       'Vereker Road North, West Kensington',
       'Southwark Station 1, Southwark', 'Moor Street, Soho',
       "Goldsmith's Row, Haggerston", 'Dunston Road , Haggerston',
       'Driffield Road, Old Ford', 'Tysoe Street, Clerkenwell',
       'Granby Street, Shoreditch', 'Bunhill Row, Moorgate',
       'Devonshire Terrace, Bayswater',
       "Charlbert Street, St. John's Wood", 'Torrens Street, Angel',
       'Little Argyll Street, West End', 'Peterborough Road, Sands End',
       "West Cromwell Road, Earl's Court",
       "Northdown Street, King's Cross", 'Michael Road, Walham Green',
       'Vauxhall Cross, Vauxhall', 'Christopher Street, Liverpool Street',
       'Heron Quays DLR, Canary Wharf', 'Disraeli Road, Putney',
       'Kensington Church Street, Kensington',
       'Lansdowne Walk, Ladbroke Grove', 'Wardour Street, Soho',
       'Pembridge Villas, Notting Hill', "St. Peter's Terrace, Fulham",
       'Bethnal Green Road, Shoreditch',
       'Clapham Common North side, Clapham Common',
       'Islington Green, Angel', 'Craven Street, Strand',
       "Parson's Green , Parson's Green", 'Bermondsey Street, Bermondsey',
       'Carey Street, Holborn', 'Fournier Street, Whitechapel',
       "Nevern Place, Earl's Court", 'Finsbury Square , Moorgate',
       "Wright's Lane, Kensington", 'Bow Road Station, Bow',
       'Claremont Square, Angel', 'Vincent Street, Pimlico',
       'Brushfield Street, Liverpool Street', 'Watney Street, Shadwell',
       'William IV Street, Strand',
       'Paddington Green Police Station, Paddington',
       'Royal Avenue 1, Chelsea', 'Chesilton Road, Fulham',
       'South Kensington Station, South Kensington',
       'Thorndike Close, West Chelsea', 'Pitfield Street Central, Hoxton',
       'Imperial Wharf Station', 'Seville Street, Knightsbridge',
       'Fulham Broadway, Walham Green', 'Hop Exchange, The Borough',
       'Tower Gardens , Tower', 'Palace Gardens Terrace, Notting Hill',
       'Gloucester Road Station, South Kensington',
       "Belgrove Street , King's Cross", 'Kennington Station, Kennington',
       "St. George's Square, Pimlico", 'Coomer Place, West Kensington',
       'Bruton Street, Mayfair', 'British Museum, Bloomsbury',
       'Ashley Place, Victoria', 'Old Brompton Road, South Kensington',
       'Natural History Museum, South Kensington',
       'Kennington Lane Rail Bridge, Vauxhall',
       'Kennington Road Post Office, Oval', 'Hermitage Court, Wapping',
       'Abyssinia Close, Clapham Junction', 'Wenlock Road , Hoxton',
       'Somerset House, Strand', "St. John's Road, Clapham Junction",
       'Devonshire Square, Liverpool Street',
       'Harrowby Street, Marylebone', 'Jewry Street, Aldgate',
       'New North Road 1, Hoxton', 'Manresa Road, Chelsea',
       'Kennington Lane Tesco, Vauxhall', 'Westferry DLR, Limehouse',
       "Pritchard's Road, Bethnal Green", 'Greenland Road, Camden Town',
       'Finlay Street, Fulham', 'Grant Road East, Clapham Junction',
       'Snowsfields, London Bridge', 'Millennium Hotel, Mayfair',
       'Waterloo Station 1, Waterloo', 'Bury Place, Holborn',
       'Chadwell Street, Angel', 'East Road, Hoxton',
       'Duke Street Hill, London Bridge', 'Elysium Place, Fulham',
       "Woodstock Grove, Shepherd's Bush", 'Nutford Place, Marylebone',
       "Penywern Road, Earl's Court", 'Seymour Place, Marylebone',
       'York Hall, Bethnal Green', 'Globe Town Market, Bethnal Green',
       'Farringdon Lane, Clerkenwell',
       'Queen Mother Sports Centre, Victoria',
       'All Saints Church, Portobello', "Newgate Street , St. Paul's",
       "Prince Albert Road, The Regent's Park", 'Olympia Way, Olympia',
       'Alderney Street, Pimlico', 'Shoreditch Park, Hoxton',
       'Lambeth North Station, Waterloo', 'Eccleston Place, Victoria',
       'Harford Street, Mile End', 'Blenheim Crescent, Ladbroke Grove',
       'Wellington Street , Strand', 'Jubilee Plaza, Canary Wharf',
       'Panton Street, West End', 'Southampton Street, Strand',
       'Ethelburga Estate, Battersea Park', 'Tooley Street, Bermondsey',
       'Newby Place, Poplar', 'Barbican Centre, Barbican',
       'Broadwick Street, Soho', 'Tachbrook Street, Victoria',
       'New Fetter Lane, Holborn', 'Harcourt Terrace, West Brompton',
       'Old Quebec Street, Marylebone', "Killick Street, King's Cross",
       'Shoreditch High Street, Shoreditch', 'Derry Street, Kensington',
       'Gloucester Avenue, Camden Town', 'Vauxhall Bridge , Pimlico',
       'Bankside Mix, Bankside', 'Normand Park, West Kensington',
       'Bolsover Street, Fitzrovia', "Baldwin Street, St. Luke's",
       'Euston Road, Euston', 'Stanhope Gate, Mayfair',
       'Chelsea Bridge, Pimlico', 'Phene Street, Chelsea',
       'Watney Market, Stepney', 'Hoxton Street, Hoxton',
       'Wandsworth Rd, Isley Court, Wandsworth Road',
       'Simpson Street, Clapham Junction', 'Doric Way , Somers Town',
       'Whitehall Place, Strand', 'Sackville Street, Mayfair',
       'Stamford Street, South Bank', 'Frith Street, Soho',
       'Southern Grove, Bow', 'Strand, Strand', 'Soho Square , Soho',
       'Endsleigh Gardens, Euston', 'Irene Road, Parsons Green',
       'Holborn Circus, Holborn', 'Hammersmith Road, Hammersmith',
       'Queen Street 1, Bank', 'Swan Street, The Borough',
       'Castlehaven Road, Camden Town', 'Alfreda Street, Battersea Park',
       'Westbourne Park Road, Portobello',
       'Eversholt Street , Camden Town', 'Limerston Street, West Chelsea',
       'Appold Street, Liverpool Street', 'Scala Street, Fitzrovia',
       'Pitfield Street North,Hoxton',
       'Notting Hill Gate Station, Notting Hill',
       'Earnshaw Street , Covent Garden',
       'Imperial College, Knightsbridge', 'Christian Street, Whitechapel',
       'Bayley Street , Bloomsbury',
       "Queen's Gate (South), South Kensington",
       'Belford House, Haggerston', "Godliman Street, St. Paul's",
       'Drayton Gardens, West Chelsea', 'Rectory Square, Stepney',
       "Crinan Street, King's Cross", "Lord's, St. John's Wood",
       'St. John Street, Finsbury', 'Northumberland Avenue, Strand',
       'West Smithfield Rotunda, Farringdon',
       'Victoria Park Road, Hackney Central', 'Poured Lines, Bankside',
       'Ashmole Estate, Oval', "Queen's Circus, Battersea Park",
       "Old Street Station, St. Luke's", 'Woodstock Street, Mayfair',
       'Danvers Street, West Chelsea', "Trebovir Road, Earl's Court",
       'Green Park Station, Mayfair',
       'Gloucester Road (North), Kensington', 'Ebury Bridge, Pimlico',
       'Marylebone Lane, Marylebone', 'Liverpool Road (N1 Centre), Angel',
       'Jubilee Gardens, South Bank',
       'Exhibition Road Museums, South Kensington',
       'Eagle Wharf Road, Hoxton', 'Caldwell Street, Stockwell',
       'Great Russell Street, Bloomsbury',
       'Norton Folgate, Liverpool Street', 'Clifford Street, Mayfair',
       'Albert Gardens, Stepney', 'Prince Consort Road, Knightsbridge',
       'Park Lane, Mayfair', 'New Inn Yard, Shoreditch',
       'Berry Street, Clerkenwell', 'Queensbridge Road, Haggerston',
       'Braham Street, Aldgate', 'Fashion Street, Whitechapel',
       'Whiston Road, Haggerston', 'Warren Street Station, Euston',
       'Sedding Street, Sloane Square', 'Erin Close, Walham Green',
       'Wellington Arch, Hyde Park', 'Rampayne Street, Pimlico',
       'Monument Street, Monument', 'Bethnal Green Garden, Bethnal Green',
       "Regent's Row , Haggerston ", 'Gower Place , Euston',
       'Newton Street, Covent Garden', 'Parkway, Camden Town',
       'Imperial Road, Sands End', 'Parsons Green Station, Parsons Green',
       'Bayswater Road, Hyde Park', 'Malet Street, Bloomsbury',
       'Twig Folly Bridge, Mile End', 'Lots Road, West Chelsea',
       'Baker Street, Marylebone', 'Park Street, Bankside',
       'Cardinal Place, Victoria', 'Pall Mall East, West End',
       'Museum of London, Barbican', 'Strata, Elephant & Castle',
       'Maclise Road, Olympia', 'Sugden Road, Clapham',
       'Hortensia Road, West Brompton', 'Bouverie Street, Temple',
       'West Kensington Station, West Kensington',
       'Belgrave Road, Victoria', 'Haggerston Road, Haggerston ',
       'Old Montague Street, Whitechapel', 'Regency Street, Westminster',
       "Queen's Gate (Central), South Kensington",
       'Westbridge Road, Battersea',
       'Concert Hall Approach 2, South Bank',
       'Union Grove, Wandsworth Road', 'Denyer Street, Knightsbridge',
       'Baylis Road, Waterloo', 'Great Titchfield Street, Fitzrovia',
       'Windsor Terrace, Hoxton', 'Percival Street, Finsbury',
       'Heath Road, Battersea', 'Belvedere Road, South Bank',
       'Exhibition Road, Knightsbridge', 'Kennington Road  , Vauxhall',
       'Broadcasting House, Marylebone', 'Putney Rail Station, Putney',
       'Abingdon Green, Westminster', 'High Holborn , Covent Garden',
       'Great Marlborough Street, Soho', 'Park Lane , Hyde Park',
       'Saunders Ness Road, Cubitt Town', 'Margery Street, Clerkenwell',
       'Montpelier Street, Knightsbridge', 'Tanner Street, Bermondsey',
       'Shoreditch Court, Haggerston', 'Walnut Tree Walk, Vauxhall',
       "World's End Place, West Chelsea", 'Leman Street, Aldgate',
       'Gloucester Road (Central), South Kensington',
       'Bedford Way, Bloomsbury', "St. Martin's Street, West End",
       'Silverthorne Road, Battersea', 'Howland Street, Fitzrovia',
       'Kensington Gore, Knightsbridge', 'Elizabeth Bridge, Victoria',
       'Flood Street, Chelsea', 'Mile End Park Leisure Centre, Mile End',
       'Ontario Street, Elephant & Castle',
       "Grove End Road, St. John's Wood", 'Hawley Crescent, Camden Town',
       'Alma Road, Wandsworth', 'Green Street, Mayfair',
       'Argyll Road, Kensington', 'Commercial Street, Shoreditch',
       "Bishop's Bridge Road West, Bayswater",
       'Columbia Road, Shoreditch', 'Binfield Road, Stockwell',
       'Moorfields, Moorgate', 'Clarges Street, Mayfair',
       'South Lambeth Road, Vauxhall', 'Leonard Circus , Shoreditch',
       'Clifton Street, Shoreditch', 'Southampton Place, Holborn',
       "Theobald's Road , Holborn", 'Bonny Street, Camden Town',
       'Lansdowne Road, Ladbroke Grove', 'Morie Street, Wandsworth',
       'Hoxton Station, Hoxton', "Archbishop's Park, Waterloo",
       'Queen Street 2, Bank', 'Langdon Park, Poplar',
       'Charing Cross Hospital, Hammersmith',
       'Dorothy Road, Clapham Junction', 'Warwick Square, Pimlico',
       'Rodney Road , Walworth', "Bramham Gardens, Earl's Court",
       'Harrington Square 1, Camden Town', 'Sloane Avenue, Knightsbridge',
       'Long Lane , Bermondsey', 'Devons Road, Bow',
       'Falkirk Street, Hoxton', 'Wormwood Street, Liverpool Street',
       'Cleveland Gardens, Bayswater', 'Cheapside, Bank',
       "Longford Street, The Regent's Park", 'BBC White City, White City',
       'Addison Road, Holland Park', 'Kingsway Southbound, Strand',
       'Black Prince Road, Vauxhall', 'Cheshire Street, Bethnal Green',
       'Holland Park, Kensington', 'George Street, Marylebone',
       'Teversham Lane, Stockwell', 'Aldersgate Street, Barbican',
       'Stephendale Road, Sands End', 'Bridge Avenue, Hammersmith',
       'Curlew Street, Shad Thames', 'Greycoat Street , Westminster',
       'Tavistock Place, Bloomsbury', 'Charles II Street, West End',
       'Wren Street, Holborn', 'City Road, Angel', 'Ackroyd Drive, Bow',
       'Fire Brigade Pier, Vauxhall', "St. Chad's Street, King's Cross",
       'Mostyn Grove, Bow', "Lisson Grove, St. John's Wood",
       'Kensington Olympia Station, Olympia', 'Jubilee Street, Stepney',
       'Aylward Street, Stepney', 'Teviot Street, Poplar',
       'Lambeth Road, Vauxhall', 'Hartington Road, Stockwell',
       'Cadogan Close, Victoria Park', 'Brunswick Square, Bloomsbury',
       'Harriet Street, Knightsbridge', 'Bricklayers Arms, Borough',
       'Paddington Street, Marylebone',
       'Goswell Road (City Uni), Finsbury', "St. Katharine's Way, Tower",
       'Lollard Street, Vauxhall', 'Thessaly Road North, Wandsworth Road',
       'Rifle Place, Avondale', 'Albert Embankment, Vauxhall',
       'Sutton Street, Shadwell', 'Crabtree Lane, Fulham',
       "St. John's Wood Road, St. John's Wood",
       'Broomhouse Lane, Parsons Green', 'Clifton Road, Maida Vale',
       'Orbel Street, Battersea', 'Great Percy Street, Clerkenwell',
       'Finsbury Circus, Liverpool Street',
       'Courland Grove, Wandsworth Road', 'Charlotte Terrace, Angel',
       "Finsbury Leisure Centre, St. Luke's", 'Wapping Lane, Wapping',
       'Chelsea Green, Chelsea', 'Tyers Gate, Bermondsey',
       'Hansard Mews, Holland Park', 'Risinghill Street, Angel',
       "Aberdeen Place, St. John's Wood", "Carnegie Street, King's Cross",
       'Harper Road, The Borough', 'Kennington Oval, Oval',
       'Hertford Road, De Beauvoir Town',
       'Battersea Church Road, Battersea',
       'Eaton Square (South), Belgravia', 'Colombo Street, Southwark',
       'South Wharf Road, Paddington', "All Saints' Road, Portobello",
       'Austin Road, Battersea Park', 'Hampton Street, Walworth',
       'New Globe Walk, Bankside', 'Albert Gate, Hyde Park',
       'Borough Road, Elephant & Castle', 'Riverlight North, Nine Elms',
       'Clarendon Road, Avondale', 'Boston Place, Marylebone',
       'Penfold Street, Marylebone', 'Greyhound Road, Hammersmith',
       'Kennington Cross, Kennington', 'Nesham Street, Wapping',
       'Rainville Road, Hammersmith', 'Broadley Terrace, Marylebone',
       'Gloucester Street, Pimlico', 'Great Tower Street, Monument',
       "Queen's Gate (North), Kensington",
       "Greenberry Street, St.John's Wood",
       'Borough High Street, The Borough',
       "Emperor's Gate, South Kensington",
       'Black Lion Gate, Kensington Gardens',
       "Albany Street, The Regent's Park",
       "London Zoo Car Park, The Regent's Park", 'Warwick Road, Olympia',
       'Eaton Square, Belgravia', 'Gunmakers Lane, Old Ford',
       'Porchester Place, Paddington', 'Sun Street, Liverpool Street',
       'Ada Street, Hackney Central',
       'Westminster Bridge Road, Elephant & Castle',
       'Fulham Park Road, Fulham', 'Russell Square Station, Bloomsbury',
       'Butler Place, Westminster', 'Putney Bridge Road, East Putney',
       'Union Street, The Borough', 'Walworth Road, Elephant & Castle',
       'Manbre Road, Hammersmith',
       "St. John's Wood Church, The Regent's Park",
       'Southwick Street, Paddington', 'Wellington Row, Bethnal Green',
       'King Edward Walk, Waterloo', 'Abbotsbury Road, Holland Park',
       'Osiers Road, Wandsworth', 'Murray Grove , Hoxton',
       'Bell Street , Marylebone', 'Waterloo Road, South Bank',
       'Guilford Street , Bloomsbury',
       "Knaresborough Place, Earl's Court",
       'Eel Brook Common, Walham Green', 'Hewison Street, Old Ford',
       'Mile End Stadium, Mile End', "St. Luke's Church, Chelsea",
       'Kensington Town Hall, Kensington', 'Princes Square, Bayswater',
       'Battersea Park Road, Nine Elms', 'Grosvenor Crescent, Belgravia',
       'Holy Trinity Brompton, Knightsbridge',
       'Claverton Street, Pimlico', 'Hampstead Road (Cartmel), Euston',
       'Westbourne Grove, Bayswater', 'Furze Green, Bow',
       'Curzon Street, Mayfair', 'Northfields, Wandsworth',
       'Crisp Road, Hammersmith', 'Ford Road, Old Ford',
       'Castalia Square, Cubitt Town', 'Lancaster Gate , Bayswater',
       'Hardwick Street, Clerkenwell',
       'Ravenscourt Park Station, Hammersmith',
       'Barons Court Station, West Kensington',
       'Westminster University, Marylebone', 'Selby Street, Whitechapel',
       'Lower Marsh, Waterloo',
       "Westfield Library Corner, Shepherd's Bush",
       'Philpot Street, Whitechapel', 'Spencer Park, Wandsworth Common',
       'Hollybush Gardens, Bethnal Green', 'Reardon Street, Wapping',
       'Hereford Road, Bayswater', "Richmond Way, Shepherd's Bush",
       'Cleaver Street, Kennington', "Roscoe Street, St. Luke's",
       'Southerton Road, Hammersmith', 'Gwendwr Road, West Kensington',
       'Shouldham Street, Marylebone', 'Chepstow Villas, Notting Hill',
       'De Vere Gardens, Kensington',
       'Warwick Avenue Station, Maida Vale',
       'Sumner Place, South Kensington',
       'LSBU (Borough Road), Elephant & Castle', 'South Park, Sands End',
       "Wellington Road, St. John's Wood", 'Lexham Gardens, Kensington',
       'Wandsworth Town Station, Wandsworth',
       'Sadlers Sports Centre, Finsbury',
       'Serpentine Car Park, Hyde Park', 'Bancroft Road, Bethnal Green',
       'Waterloo Station 2, Waterloo',
       'Albert Bridge Road, Battersea Park',
       'Ilchester Gardens, Bayswater', 'Golden Square, Soho',
       'South Parade, Chelsea', 'Brick Lane Market, Shoreditch',
       'Flamborough Street, Limehouse',
       'New Cavendish Street, Marylebone',
       'Clerkenwell Green, Clerkenwell',
       "Blythe Road West, Shepherd's Bush", 'Usk Road, Clapham Junction',
       'Triangle Car Park, Hyde Park', 'Cloudesley Road, Angel',
       'Rochester Row, Westminster', 'Humbolt Road, Fulham',
       "Collingham Gardens, Earl's Court", 'Portugal Street, Holborn',
       "Calshot Street , King's Cross", 'Ormonde Gate, Chelsea',
       'Stanley Grove, Battersea', 'Clarence Walk, Stockwell',
       'Napier Avenue, Millwall', 'Vauxhall Street, Vauxhall',
       'Sheepcote Lane, Battersea', 'Beryl Road, Hammersmith',
       'Drummond Street , Euston', 'Southwark Station 2, Southwark',
       'Shadwell Station, Shadwell', "Speakers' Corner 1, Hyde Park",
       'Ampton Street , Clerkenwell', 'Royal College Street, Camden Town',
       'Surrey Lane, Battersea', 'Macclesfield Rd, St Lukes',
       'Durant Street, Bethnal Green', 'Eastbourne Mews, Paddington',
       'Doddington Grove, Kennington', 'Frampton Street, Paddington',
       'Wapping High Street, Wapping', 'Ilchester Place, Kensington',
       'Red Lion Square, Holborn', 'Palissy Street, Shoreditch',
       "St. James's Square, St. James's", 'River Street , Clerkenwell',
       'Clarkson Street, Bethnal Green',
       'Palace Gate, Kensington Gardens', 'Lindfield Street, Poplar',
       "Queensdale Road, Shepherd's Bush", 'New Kent Road, The Borough',
       "Park Road (Baker Street), The Regent's Park",
       'Old Ford Road, Bethnal Green', "Bath Street, St. Luke's",
       "Speakers' Corner 2, Hyde Park", 'Graham Street, Angel',
       'Marloes Road, Kensington', 'Golden Lane, Barbican',
       'Northington Street , Holborn', 'Smith Square, Westminster',
       'Putney Pier, Wandsworth', 'Jubilee Crescent, Cubitt Town',
       "Preston's Road, Cubitt Town", 'Salmon Lane, Limehouse',
       'Cumberland Gate, Hyde Park', 'Garnet Street, Shadwell',
       'North Wharf Road, Paddington', 'Rossmore Road, Marylebone',
       'Grant Road West, Clapham Junction',
       'Ladbroke Grove Central, Ladbroke Grove',
       "Queen's Gate, Kensington Gardens",
       'St Martins Close, Camden Town', 'Abingdon Villas, Kensington',
       'Dickens Square, Borough', 'Upcerne Road, West Chelsea',
       'Crawford Street, Marylebone', 'Grenfell Road, Avondale',
       'Gaywood  Street, Elephant & Castle',
       'Phillimore Gardens, Kensington',
       "The Tennis Courts, The Regent's Park",
       "Bishop's Bridge Road East, Bayswater", 'Vauxhall Walk, Vauxhall',
       'Rathbone Street, Fitzrovia ', 'Gloucester Terrace, Bayswater',
       'Great Suffolk Street, The Borough', 'Cantrell Road, Bow',
       'Aintree Street, Fulham', 'Everington Street, Fulham',
       'Neville Gill Close, Wandsworth', 'Cadogan Gardens, Chelsea',

In [19]:
import xarray as xr
import numpy as np
xarray_3d = xr.Dataset(
    {"0-1": (("StartStation Name", "EndStation Name"), np.random.randn(746, 746)),
    "1-2": (("StartStation Name", "EndStation Name"), np.random.randn(746, 746)),
    "2-3": (("StartStation Name", "EndStation Name"), np.random.randn(746, 746)),
    "3-4": (("StartStation Name", "EndStation Name"), np.random.randn(746, 746)),
    "4-5": (("StartStation Name", "EndStation Name"), np.random.randn(746, 746)),
    "5-6": (("StartStation Name", "EndStation Name"), np.random.randn(746, 746)),
    "6-7": (("StartStation Name", "EndStation Name"), np.random.randn(746, 746)),
    "7-8": (("StartStation Name", "EndStation Name"), np.random.randn(746, 746)),
    "8-9": (("StartStation Name", "EndStation Name"), np.random.randn(746, 746)),
    "9-10": (("StartStation Name", "EndStation Name"), np.random.randn(746, 746)),
    "10-11": (("StartStation Name", "EndStation Name"), np.random.randn(746, 746)),
    "11-12": (("StartStation Name", "EndStation Name"), np.random.randn(746, 746)),
    "12-13": (("StartStation Name", "EndStation Name"), np.random.randn(746, 746)),
    "13-14": (("StartStation Name", "EndStation Name"), np.random.randn(746, 746)),
    "14-15": (("StartStation Name", "EndStation Name"), np.random.randn(746, 746)),
    "15-16": (("StartStation Name", "EndStation Name"), np.random.randn(746, 746)),
    "16-17": (("StartStation Name", "EndStation Name"), np.random.randn(746, 746)),
    "17-18": (("StartStation Name", "EndStation Name"), np.random.randn(746, 746)),
    "18-19": (("StartStation Name", "EndStation Name"), np.random.randn(746, 746)),
    "19-20": (("StartStation Name", "EndStation Name"), np.random.randn(746, 746)),
    "20-21": (("StartStation Name", "EndStation Name"), np.random.randn(746, 746)),
    "21-22": (("StartStation Name", "EndStation Name"), np.random.randn(746, 746)),
    "22-23": (("StartStation Name", "EndStation Name"), np.random.randn(746, 746)),
    "23-0": (("StartStation Name", "EndStation Name"), np.random.randn(746, 746)),
    },
    coords={
        "StartStation Name":result['StartStation Name'].unique(),
        "EndStation Name":result['StartStation Name'].unique(),
        
    },
)
df_3d=xarray_3d.to_dataframe()
df_3d

NameError: name 'result' is not defined

In [18]:
df_3d.loc['Drury Lane, Covent Garden','0-1'][0]

NameError: name 'df_3d' is not defined

In [ ]:
df_3d

                                                                                                          0-1  \
StartStation Name                                 EndStation Name
Drury Lane, Covent Garden                         Drury Lane, Covent Garden                          4.000000
                                                  Pott Street, Bethnal Green                        -0.447630
                                                  Harrington Square 2, Camden Town                   1.590302
                                                  Canton Street, Poplar                              0.328127
                                                  Cephas Street, Bethnal Green                      -2.512685
...                                                                                                       ...
Lee Valley VeloPark, Queen Elizabeth Olympic Park Podium, Queen Elizabeth Olympic Park              -0.623649
                                                  East Village, Queen Elizabeth Olympic Park        -0.959252
                                                  Timber Lodge, Queen Elizabeth Olympic Park        -0.025089
                                                  Copper Box Arena, Queen Elizabeth Olympic Park    -0.687566
                                                  Lee Valley VeloPark, Queen Elizabeth Olympic Park -0.098688

                                                                                                          1-2  \
StartStation Name                                 EndStation Name
Drury Lane, Covent Garden                         Drury Lane, Covent Garden                          0.973888
                                                  Pott Street, Bethnal Green                         1.679968
                                                  Harrington Square 2, Camden Town                  -0.162501
                                                  Canton Street, Poplar                             -1.104283
                                                  Cephas Street, Bethnal Green                       1.951497
...                                                                                                       ...
Lee Valley VeloPark, Queen Elizabeth Olympic Park Podium, Queen Elizabeth Olympic Park              -0.862282
                                                  East Village, Queen Elizabeth Olympic Park         0.922921
                                                  Timber Lodge, Queen Elizabeth Olympic Park         1.093037
                                                  Copper Box Arena, Queen Elizabeth Olympic Park     0.219559
                                                  Lee Valley VeloPark, Queen Elizabeth Olympic Park  0.613912

                                                                                                          2-3  \
StartStation Name                                 EndStation Name
Drury Lane, Covent Garden                         Drury Lane, Covent Garden                         -0.356129
                                                  Pott Street, Bethnal Green                         0.763410
                                                  Harrington Square 2, Camden Town                  -1.277148
                                                  Canton Street, Poplar                              1.155276
                                                  Cephas Street, Bethnal Green                      -0.834890
...                                                                                                       ...
Lee Valley VeloPark, Queen Elizabeth Olympic Park Podium, Queen Elizabeth Olympic Park               1.420386
                                                  East Village, Queen Elizabeth Olympic Park         0.231862
                                                  Timber Lodge, Queen Elizabeth Olympic Park         0.191875
                                                  Copper Box Arena, Queen Elizabeth Olympic Park     0.156409
                                                  Lee Valley VeloPark, Queen Elizabeth Olympic Park  0.428533

                                                                                                          3-4  \
StartStation Name                                 EndStation Name
Drury Lane, Covent Garden                         Drury Lane, Covent Garden                         -0.683916
                                                  Pott Street, Bethnal Green                        -0.332121
                                                  Harrington Square 2, Camden Town                  -1.712750
                                                  Canton Street, Poplar                              0.363040
                                                  Cephas Street, Bethnal Green                       0.638554
...                                                                                                       ...
Lee Valley VeloPark, Queen Elizabeth Olympic Park Podium, Queen Elizabeth Olympic Park              -1.621681
                                                  East Village, Queen Elizabeth Olympic Park         0.427251
                                                  Timber Lodge, Queen Elizabeth Olympic Park         0.383713
                                                  Copper Box Arena, Queen Elizabeth Olympic Park     2.019885
                                                  Lee Valley VeloPark, Queen Elizabeth Olympic Park -0.304936

                                                                                                          4-5  \
StartStation Name                                 EndStation Name
Drury Lane, Covent Garden                         Drury Lane, Covent Garden                          1.311105
                                                  Pott Street, Bethnal Green                         0.489960
                                                  Harrington Square 2, Camden Town                   0.620692
                                                  Canton Street, Poplar                              0.690425
                                                  Cephas Street, Bethnal Green                      -1.275623
...                                                                                                       ...
Lee Valley VeloPark, Queen Elizabeth Olympic Park Podium, Queen Elizabeth Olympic Park              -1.256360
                                                  East Village, Queen Elizabeth Olympic Park        -0.049975
                                                  Timber Lodge, Queen Elizabeth Olympic Park        -0.589214
                                                  Copper Box Arena, Queen Elizabeth Olympic Park    -0.836294
                                                  Lee Valley VeloPark, Queen Elizabeth Olympic Park  1.070765

                                                                                                          5-6  \
StartStation Name                                 EndStation Name
Drury Lane, Covent Garden                         Drury Lane, Covent Garden                          0.417975
                                                  Pott Street, Bethnal Green                        -0.336541
                                                  Harrington Square 2, Camden Town                   0.457852
                                                  Canton Street, Poplar                              1.973633
                                                  Cephas Street, Bethnal Green                      -0.115031
...                                                                                                       ...
Lee Valley VeloPark, Queen Elizabeth Olympic Park Podium, Queen Elizabeth Olympic Park              -0.836242
                                                  East Village, Queen Elizabeth Olympic Park         0.938030
                                                  Timber Lodge, Queen Elizabeth Olympic Park        -1.511403
                                                  Copper Box Arena, Queen Elizabeth Olympic Park     2.327345
                                                  Lee Valley VeloPark, Queen Elizabeth Olympic Park -0.581510

                                                                                                          6-7  \
StartStation Name                                 EndStation Name
Drury Lane, Covent Garden                         Drury Lane, Covent Garden                         -0.519608
                                                  Pott Street, Bethnal Green                         0.515927
                                                  Harrington Square 2, Camden Town                   1.749828
                                                  Canton Street, Poplar                              0.919631
                                                  Cephas Street, Bethnal Green                      -1.239259
...                                                                                                       ...
Lee Valley VeloPark, Queen Elizabeth Olympic Park Podium, Queen Elizabeth Olympic Park              -0.306707
                                                  East Village, Queen Elizabeth Olympic Park         1.633240
                                                  Timber Lodge, Queen Elizabeth Olympic Park         0.393897
                                                  Copper Box Arena, Queen Elizabeth Olympic Park     0.149152
                                                  Lee Valley VeloPark, Queen Elizabeth Olympic Park -0.373230

                                                                                                          7-8  \
StartStation Name                                 EndStation Name
Drury Lane, Covent Garden                         Drury Lane, Covent Garden                         -1.026852
                                                  Pott Street, Bethnal Green                         0.589245
                                                  Harrington Square 2, Camden Town                  -0.254666
                                                  Canton Street, Poplar                             -1.102822
                                                  Cephas Street, Bethnal Green                      -0.213972
...                                                                                                       ...
Lee Valley VeloPark, Queen Elizabeth Olympic Park Podium, Queen Elizabeth Olympic Park               0.607679
                                                  East Village, Queen Elizabeth Olympic Park         1.343952
                                                  Timber Lodge, Queen Elizabeth Olympic Park        -1.792333
                                                  Copper Box Arena, Queen Elizabeth Olympic Park     0.782883
                                                  Lee Valley VeloPark, Queen Elizabeth Olympic Park -1.812033

                                                                                                          8-9  \
StartStation Name                                 EndStation Name
Drury Lane, Covent Garden                         Drury Lane, Covent Garden                          1.029135
                                                  Pott Street, Bethnal Green                        -0.272996
                                                  Harrington Square 2, Camden Town                   0.513875
                                                  Canton Street, Poplar                              1.629190
                                                  Cephas Street, Bethnal Green                      -1.863952
...                                                                                                       ...
Lee Valley VeloPark, Queen Elizabeth Olympic Park Podium, Queen Elizabeth Olympic Park              -0.469933
                                                  East Village, Queen Elizabeth Olympic Park         2.519446
                                                  Timber Lodge, Queen Elizabeth Olympic Park        -1.566948
                                                  Copper Box Arena, Queen Elizabeth Olympic Park    -1.474255
                                                  Lee Valley VeloPark, Queen Elizabeth Olympic Park  2.292457

                                                                                                         9-10  \
StartStation Name                                 EndStation Name
Drury Lane, Covent Garden                         Drury Lane, Covent Garden                         -0.217402
                                                  Pott Street, Bethnal Green                         0.123660
                                                  Harrington Square 2, Camden Town                   0.141340
                                                  Canton Street, Poplar                             -1.328616
                                                  Cephas Street, Bethnal Green                      -2.237581
...                                                                                                       ...
Lee Valley VeloPark, Queen Elizabeth Olympic Park Podium, Queen Elizabeth Olympic Park               0.208368
                                                  East Village, Queen Elizabeth Olympic Park        -1.207906
                                                  Timber Lodge, Queen Elizabeth Olympic Park         1.730866
                                                  Copper Box Arena, Queen Elizabeth Olympic Park    -0.980973
                                                  Lee Valley VeloPark, Queen Elizabeth Olympic Park  0.228148

                                                                                                     ...  \
StartStation Name                                 EndStation Name                                    ...
Drury Lane, Covent Garden                         Drury Lane, Covent Garden                          ...
                                                  Pott Street, Bethnal Green                         ...
                                                  Harrington Square 2, Camden Town                   ...
                                                  Canton Street, Poplar                              ...
                                                  Cephas Street, Bethnal Green                       ...
...                                                                                                  ...
Lee Valley VeloPark, Queen Elizabeth Olympic Park Podium, Queen Elizabeth Olympic Park               ...
                                                  East Village, Queen Elizabeth Olympic Park         ...
                                                  Timber Lodge, Queen Elizabeth Olympic Park         ...
                                                  Copper Box Arena, Queen Elizabeth Olympic Park     ...
                                                  Lee Valley VeloPark, Queen Elizabeth Olympic Park  ...

                                                                                                        14-15  \
StartStation Name                                 EndStation Name
Drury Lane, Covent Garden                         Drury Lane, Covent Garden                          0.862766
                                                  Pott Street, Bethnal Green                        -0.520114
                                                  Harrington Square 2, Camden Town                   1.258015
                                                  Canton Street, Poplar                             -0.654549
                                                  Cephas Street, Bethnal Green                      -0.453657
...                                                                                                       ...
Lee Valley VeloPark, Queen Elizabeth Olympic Park Podium, Queen Elizabeth Olympic Park              -0.636716
                                                  East Village, Queen Elizabeth Olympic Park         0.692394
                                                  Timber Lodge, Queen Elizabeth Olympic Park        -0.039797
                                                  Copper Box Arena, Queen Elizabeth Olympic Park     0.332621
                                                  Lee Valley VeloPark, Queen Elizabeth Olympic Park  1.763819

                                                                                                        15-16  \
StartStation Name                                 EndStation Name
Drury Lane, Covent Garden                         Drury Lane, Covent Garden                         -1.088083
                                                  Pott Street, Bethnal Green                        -0.281235
                                                  Harrington Square 2, Camden Town                   2.231019
                                                  Canton Street, Poplar                             -0.530789
                                                  Cephas Street, Bethnal Green                       0.385433
...                                                                                                       ...
Lee Valley VeloPark, Queen Elizabeth Olympic Park Podium, Queen Elizabeth Olympic Park              -1.292953
                                                  East Village, Queen Elizabeth Olympic Park         1.300026
                                                  Timber Lodge, Queen Elizabeth Olympic Park        -0.724359
                                                  Copper Box Arena, Queen Elizabeth Olympic Park     0.572201
                                                  Lee Valley VeloPark, Queen Elizabeth Olympic Park -1.135949

                                                                                                        16-17  \
StartStation Name                                 EndStation Name
Drury Lane, Covent Garden                         Drury Lane, Covent Garden                          2.249182
                                                  Pott Street, Bethnal Green                         0.649310
                                                  Harrington Square 2, Camden Town                   1.072208
                                                  Canton Street, Poplar                             -1.611854
                                                  Cephas Street, Bethnal Green                       0.249580
...                                                                                                       ...
Lee Valley VeloPark, Queen Elizabeth Olympic Park Podium, Queen Elizabeth Olympic Park               1.130232
                                                  East Village, Queen Elizabeth Olympic Park         0.286832
                                                  Timber Lodge, Queen Elizabeth Olympic Park         1.446717
                                                  Copper Box Arena, Queen Elizabeth Olympic Park    -0.118021
                                                  Lee Valley VeloPark, Queen Elizabeth Olympic Park -1.275715

                                                                                                        17-18  \
StartStation Name                                 EndStation Name
Drury Lane, Covent Garden                         Drury Lane, Covent Garden                         -1.606380
                                                  Pott Street, Bethnal Green                         1.144594
                                                  Harrington Square 2, Camden Town                   1.399260

In [42]:
new_result=result2.set_index('Start Date').groupby([pd.Grouper(freq='h'), 'StartStation Name', 'EndStation Name']).count()

KeyboardInterrupt:

In [20]:
new_result=new_result.reset_index()

In [21]:
new_result

,Start Date,StartStation Name,EndStation Name,Rental Id,Duration,Bike Id,End Date,EndStation Id,StartStation Id
0,2015-01-10 00:00:00,"Abbey Orchard Street, Westminster","Ashmole Estate, Oval",1,1,1,1,1,1
1,2015-01-10 00:00:00,"Abbey Orchard Street, Westminster","Triangle Car Park, Hyde Park",1,1,1,1,1,1
2,2015-01-10 00:00:00,"Ada Street, Hackney Central","Bow Road Station, Bow",1,1,1,1,1,1
3,2015-01-10 00:00:00,"Albert Gate, Hyde Park","Sackville Street, Mayfair",2,2,2,2,2,2
4,2015-01-10 00:00:00,"Alfred Place, Bloomsbury","Calshot Street , King's Cross",1,1,1,1,1,1
...,...,...,...,...,...,...,...,...,...
9317064,2018-12-07 23:00:00,"Wren Street, Holborn","Northington Street , Holborn",1,1,1,1,1,1
9317065,2018-12-07 23:00:00,"Wright's Lane, Kensington","Bramham Gardens, Earl's Court",1,1,1,1,1,1
9317066,2018-12-07 23:00:00,"York Hall, Bethnal Green","Pritchard's Road, Bethnal Green",1,1,1,1,1,1
9317067,2018-12-07 23:00:00,"York Hall, Bethnal Green","Regent's Row , Haggerston",1,1,1,1,1,1
9317068,2018-12-07 23:00:00,"York Hall, Bethnal Green","Whiston Road, Haggerston",1,1,1,1,1,1

In [23]:
new_result['No of trips']=new_result['Duration']
new_result.drop(columns=['Rental Id'],inplace=True)
new_result.drop(columns=['Duration'],inplace=True)
new_result.drop(columns=['Bike Id'],inplace=True)
new_result.drop(columns=['End Date'],inplace=True)
new_result.drop(columns=['EndStation Id'],inplace=True)
new_result.drop(columns=['StartStation Id'],inplace=True)
new_result

,Start Date,StartStation Name,EndStation Name,No of trips
0,2015-01-10 00:00:00,"Abbey Orchard Street, Westminster","Ashmole Estate, Oval",1
1,2015-01-10 00:00:00,"Abbey Orchard Street, Westminster","Triangle Car Park, Hyde Park",1
2,2015-01-10 00:00:00,"Ada Street, Hackney Central","Bow Road Station, Bow",1
3,2015-01-10 00:00:00,"Albert Gate, Hyde Park","Sackville Street, Mayfair",2
4,2015-01-10 00:00:00,"Alfred Place, Bloomsbury","Calshot Street , King's Cross",1
...,...,...,...,...
9317064,2018-12-07 23:00:00,"Wren Street, Holborn","Northington Street , Holborn",1
9317065,2018-12-07 23:00:00,"Wright's Lane, Kensington","Bramham Gardens, Earl's Court",1
9317066,2018-12-07 23:00:00,"York Hall, Bethnal Green","Pritchard's Road, Bethnal Green",1
9317067,2018-12-07 23:00:00,"York Hall, Bethnal Green","Regent's Row , Haggerston",1
9317068,2018-12-07 23:00:00,"York Hall, Bethnal Green","Whiston Road, Haggerston",1

In [33]:
result2.columns

Index(['Rental Id', 'Duration', 'Bike Id', 'End Date', 'EndStation Id',
       'EndStation Name', 'Start Date', 'StartStation Id',
       'StartStation Name'],
      dtype='object')