In [1]:
import pandas as pd
import sparse
from datetime import datetime
import numpy as np
import requests
import io

In [2]:
data=pd.read_csv('../../../raw_data/6months/tripcsvbame.csv')

In [3]:
data_path = 'https://cycling.data.tfl.gov.uk/usage-stats/'

In [4]:
data['usage-stats/']  = data['usage-stats/'].apply(lambda x: x.strip())

In [5]:
def read_url(url):
    s=requests.get(url).content
    c=pd.read_csv(io.StringIO(s.decode('utf-8')))
    return c

In [6]:
frames = []
for x in data['usage-stats/']:
    frames.append(read_url(data_path + x))

result = pd.concat(frames)
result.columns

/tmp/ipykernel_370015/2089846217.py:3: DtypeWarning: Columns (2,5) have mixed types. Specify dtype option on import or set low_memory=False.
  c=pd.read_csv(io.StringIO(s.decode('utf-8')))

Index(['Rental Id', 'Duration', 'Bike Id', 'End Date', 'EndStation Id',
       'EndStation Name', 'Start Date', 'StartStation Id', 'StartStation Name',
       'Number', 'Start date', 'Start station number', 'Start station',
       'End date', 'End station number', 'End station', 'Bike number',
       'Bike model', 'Total duration', 'Total duration (ms)'],
      dtype='object')

In [7]:
result['Total duration (ms)'] = result['Total duration (ms)']/1000

In [8]:
result.head()

,Rental Id,Duration,Bike Id,End Date,EndStation Id,EndStation Name,Start Date,StartStation Id,StartStation Name,Number,Start date,Start station number,Start station,End date,End station number,End station,Bike number,Bike model,Total duration,Total duration (ms)
0,116119313.0,540.0,20949.0,10/01/2022 10:12,654.0,"Ashmole Estate, Oval",10/01/2022 10:03,624.0,"Courland Grove, Wandsworth Road",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,116121468.0,420.0,19266.0,10/01/2022 12:35,437.0,"Vauxhall Walk, Vauxhall",10/01/2022 12:28,149.0,"Kennington Road Post Office, Oval",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,116059863.0,660.0,17066.0,06/01/2022 08:28,517.0,"Ford Road, Old Ford",06/01/2022 08:17,486.0,"Granby Street, Shoreditch",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,116066020.0,180.0,18652.0,06/01/2022 17:11,18.0,"Drury Lane, Covent Garden",06/01/2022 17:08,335.0,"Tavistock Street, Covent Garden",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,116034391.0,60.0,20134.0,05/01/2022 17:44,66.0,"Holborn Circus, Holborn",05/01/2022 17:43,17.0,"Hatton Wall, Holborn",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
# combining values
result['RentalId'] = result['Rental Id'].fillna(result['Number'])
result['duration'] = result['Duration'].fillna(result['Total duration (ms)'])
result['endstationName'] = result['EndStation Name'].fillna(result['End station'])
result['startstationName'] = result['StartStation Name'].fillna(result['Start station'])
result['startdate'] = result['Start Date'].fillna(result['Start date'])

In [14]:
result.head()

,Rental Id,Duration,Bike Id,End Date,EndStation Id,EndStation Name,Start Date,StartStation Id,StartStation Name,Number,...,End station,Bike number,Bike model,Total duration,Total duration (ms),RentalId,duration,endstationName,startstationName,startdate
0,116119313.0,540.0,20949.0,10/01/2022 10:12,654.0,"Ashmole Estate, Oval",10/01/2022 10:03,624.0,"Courland Grove, Wandsworth Road",NaN,...,NaN,NaN,NaN,NaN,NaN,116119313.0,540.0,"Ashmole Estate, Oval","Courland Grove, Wandsworth Road",10/01/2022 10:03
1,116121468.0,420.0,19266.0,10/01/2022 12:35,437.0,"Vauxhall Walk, Vauxhall",10/01/2022 12:28,149.0,"Kennington Road Post Office, Oval",NaN,...,NaN,NaN,NaN,NaN,NaN,116121468.0,420.0,"Vauxhall Walk, Vauxhall","Kennington Road Post Office, Oval",10/01/2022 12:28
2,116059863.0,660.0,17066.0,06/01/2022 08:28,517.0,"Ford Road, Old Ford",06/01/2022 08:17,486.0,"Granby Street, Shoreditch",NaN,...,NaN,NaN,NaN,NaN,NaN,116059863.0,660.0,"Ford Road, Old Ford","Granby Street, Shoreditch",06/01/2022 08:17
3,116066020.0,180.0,18652.0,06/01/2022 17:11,18.0,"Drury Lane, Covent Garden",06/01/2022 17:08,335.0,"Tavistock Street, Covent Garden",NaN,...,NaN,NaN,NaN,NaN,NaN,116066020.0,180.0,"Drury Lane, Covent Garden","Tavistock Street, Covent Garden",06/01/2022 17:08
4,116034391.0,60.0,20134.0,05/01/2022 17:44,66.0,"Holborn Circus, Holborn",05/01/2022 17:43,17.0,"Hatton Wall, Holborn",NaN,...,NaN,NaN,NaN,NaN,NaN,116034391.0,60.0,"Holborn Circus, Holborn","Hatton Wall, Holborn",05/01/2022 17:43

In [ ]:
dict_columns = {
    "Number": "Rental Id",
    "Total duration (ms)": "Duration",
    "Bike number" : "Bike Id",
    "Start station" : 'StartStation Name',
    'End station': 'EndStation Name',
    'End Date': 'End date',
    'Start Date': 'Start date'
}

In [ ]:
result_general = result.rename(columns=dict_columns)
result_general['Duration'] = result_general['Duration']/1000
result_general

In [15]:
result.columns

Index(['Rental Id', 'Duration', 'Bike Id', 'End Date', 'EndStation Id',
       'EndStation Name', 'Start Date', 'StartStation Id', 'StartStation Name',
       'Number', 'Start date', 'Start station number', 'Start station',
       'End date', 'End station number', 'End station', 'Bike number',
       'Bike model', 'Total duration', 'Total duration (ms)', 'RentalId',
       'duration', 'endstationName', 'startstationName', 'startdate'],
      dtype='object')

In [16]:
result_general = result[['RentalId','duration','endstationName','startstationName','startdate']]

In [ ]:
date_format = '%d/%m/%Y %H:%M:%S'
result_general['End date']=pd.to_datetime(result_general['End date'])
result_general['Start date']=pd.to_datetime(result_general['Start date'])
result_general

In [17]:
results_f = result_general[result_general['duration']<3600]

In [18]:
len(results_f)

10994590

In [19]:
result=results_f.dropna()
new_result=result.set_index('startdate').groupby([pd.Grouper(freq='h'), 'startstationName', 'endstationName']).count()
new_result

:

:

In [ ]:
new_result['Nooftrips']=new_result['duration']

In [ ]:
new_result = new_result[['Nooftrips']]

In [ ]:
new_result

In [ ]:
df = new_result.reset_index()
df = df.sort_values(by=['Start date'])
df = new_result.reset_index()
df

In [ ]:
df['Start date'] = df['Start date'].apply(lambda x: x.strftime(date_format))

In [ ]:
df

In [ ]:
df.dtypes

In [ ]:
from sklearn.preprocessing import OrdinalEncoder

In [ ]:
df["date_code"] = 0
df["so_code"] = 0
df["sd_code"] = 0
ord_enc = OrdinalEncoder()
df["date_code"] = ord_enc.fit_transform(df[["Start date"]])
df["so_code"] = ord_enc.fit_transform(df[["StartStation Name"]])
df["sd_code"] = ord_enc.fit_transform(df[["EndStation Name"]])

In [ ]:
df

In [ ]:
obj_df = df.select_dtypes(include=['object']).copy()

In [ ]:
obj_df.head()

In [ ]:
coords = df[['so_code','sd_code','date_code']]

In [ ]:
coords.shape

In [ ]:
values = df['No of trips']

In [ ]:
values.shape

In [ ]:
coords = np.array(coords, dtype=np.int32).T
values = np.array(values, dtype=np.float64)

In [ ]:
tensor = sparse.COO(coords, data=values)

In [ ]:
print(tensor)

In [ ]:
type(tensor)

In [ ]:
tensor.nbytes / 1e9

In [ ]:
import tensorly as tl
from tensorly.decomposition import tucker

In [ ]:
# Rank of Tucker decomposition
tucker_rank = [100, 100, 150]

In [ ]:
core, factors = tucker(tensor, rank=tucker_rank, init='random', tol=10e-5,random_state=12345)

In [ ]:
fig, axs = plt.subplots(5, 3)
fig.set_size_inches(18.5, 10.5)
axs[0, 0].scatter(x=range(len(factors[0])), y=np.transpose(factors[0])[0])
axs[0, 1].scatter(x=range(len(factors[1])), y=np.transpose(factors[1])[0])
axs[0, 2].plot(np.transpose(factors[2])[0])

axs[1, 0].scatter(x=range(len(factors[0])), y=np.transpose(factors[0])[1])
axs[1, 1].scatter(x=range(len(factors[1])), y=np.transpose(factors[1])[1])
axs[1, 2].plot(np.transpose(factors[2])[1])

axs[2, 0].scatter(x=range(len(factors[0])), y=np.transpose(factors[0])[2])
axs[2, 1].scatter(x=range(len(factors[1])), y=np.transpose(factors[1])[2])
axs[2, 2].plot(np.transpose(factors[2])[2])

axs[3, 0].scatter(x=range(len(factors[0])), y=np.transpose(factors[0])[3])
axs[3, 1].scatter(x=range(len(factors[1])), y=np.transpose(factors[1])[3])
axs[3, 2].plot(np.transpose(factors[2])[3])

axs[4, 0].scatter(x=range(len(factors[0])), y=np.transpose(factors[0])[4])
axs[4, 1].scatter(x=range(len(factors[1])), y=np.transpose(factors[1])[4])
axs[4, 2].plot(np.transpose(factors[2])[4])