In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
from londonbss.ml_logic.loadprocessing import get_processed_data

In [3]:
station_sele = 'wormwood_street__liverpool_street'

In [4]:
df = get_processed_data(min_date='2018-01-01', max_date='2023-06-19',station=station_sele)

 ⭐️ Use case: preprocess

Load data from local CSV...
Data loaded, with shape (48551996, 4)
✅ Data cleaned
✅ Balance matrix created

/home/sebasmar/code/elsebasmar/london-bss/londonbss/ml_logic/features.py:48: UserWarning: Parsing dates in %d/%m/%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  london_events_filtered['start_date']=pd.to_datetime(london_events_filtered['start_date'])
/home/sebasmar/code/elsebasmar/london-bss/londonbss/ml_logic/features.py:49: UserWarning: Parsing dates in %d/%m/%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  london_events_filtered['end_date']=pd.to_datetime(london_events_filtered['end_date'])

✅ Raw features adquired.

Save data to BigQuery @ wagon-bootcamp-396316.londonbss.processed_trips_full_data_4...:
✅ Data saved to bigquery, with shape (47045, 862)

Save data to BigQuery @ wagon-bootcamp-396316.londonbss.processed_features_full_data_4...:
✅ Data saved to bigquery, with shape (49320, 23)

⭐️ Processing Data Starting ...

Loading preprocessed data...

Data stored locally in CSV...

⭐️ Getting processed Data...

Load data from local CSV...
Data loaded, with shape (47881, 25)

Processed data loaded and a copy was saved locally

In [5]:
df.head()

,startdate,elisabeth_line,lockdown,strike,school_holidays,daytime,London_zone_Central,London_zone_North,London_zone_West,London_zone_South_West,...,snowfall,cloudcover,wind_speed,wind_direction,year,month,day,hour,weekday,wormwood_street__liverpool_street
0,2018-01-01 00:00:00+00:00,0,0,1,0,0,3.0,2.0,2.0,2.0,...,0.0,0.42,0.504967,0.715877,2018,1,1,0,0,4.0
1,2018-01-01 01:00:00+00:00,0,0,1,0,0,3.0,2.0,2.0,2.0,...,0.0,0.36,0.468543,0.715877,2018,1,1,1,0,3.0
2,2018-01-01 02:00:00+00:00,0,0,1,0,0,3.0,2.0,2.0,2.0,...,0.0,0.26,0.432119,0.699164,2018,1,1,2,0,-4.0
3,2018-01-01 03:00:00+00:00,0,0,1,0,0,3.0,2.0,2.0,2.0,...,0.0,0.22,0.413907,0.679666,2018,1,1,3,0,0.0
4,2018-01-01 04:00:00+00:00,0,0,1,0,0,3.0,2.0,2.0,2.0,...,0.0,0.11,0.410596,0.671309,2018,1,1,4,0,-2.0