In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
from londonbss.ml_logic.main import preprocess, train
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
preprocess()

 ⭐️ Use case: preprocess

Load data from local CSV...
Data loaded, with shape (9829137, 4)
✅ data cleaned
✅ Balance matrix created

Save data to BigQuery @ wagon-bootcamp-396316.londonbss.processed_trips_full_data_2...:
✅ Data saved to bigquery, with shape (8708, 812)
✅ preprocess() done

In [3]:
df = train()

⭐️ Use case: train

Loading preprocessed validation data...

Load data from BigQuery server...
Data loaded, with shape (8708, 813)

In [4]:
df

,startdate,abbey_orchard_street__westminster,abbotsbury_road__holland_park,aberdeen_place__st_johns_wood,aberfeldy_street__poplar,abingdon_green__westminster,abingdon_villas__kensington,abyssinia_close__clapham_junction,ackroyd_drive__bow,ada_street__hackney_central,...,woodstock_grove__shepherds_bush,woodstock_street__mayfair,worlds_end_place__west_chelsea,wormwood_street__liverpool_street,worship_street__shoreditch,wren_street__holborn,wrights_lane__kensington,wynne_road__stockwell,york_hall__bethnal_green,york_way__kings_cross
0,2022-01-01 00:00:00,-18.0,0.0,0.0,1.0,-20.0,0.0,-1.0,0.0,0.0,...,3.0,3.0,1.0,7.0,0.0,12.0,7.0,0.0,2.0,0.0
1,2022-01-01 01:00:00,-7.0,0.0,4.0,0.0,-5.0,-1.0,-1.0,0.0,0.0,...,0.0,1.0,-2.0,1.0,-6.0,4.0,0.0,-1.0,0.0,0.0
2,2022-01-01 02:00:00,-2.0,0.0,0.0,0.0,2.0,0.0,4.0,3.0,1.0,...,2.0,-3.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,1.0
3,2022-01-01 03:00:00,0.0,-1.0,0.0,0.0,9.0,0.0,-1.0,-1.0,1.0,...,0.0,0.0,0.0,-4.0,2.0,1.0,-1.0,-1.0,-1.0,2.0
4,2022-01-01 04:00:00,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,-4.0,...,-1.0,0.0,-2.0,0.0,1.0,0.0,0.0,0.0,-5.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8703,2022-12-31 20:00:00,-1.0,-1.0,1.0,0.0,0.0,-1.0,0.0,-4.0,0.0,...,0.0,2.0,0.0,0.0,2.0,0.0,0.0,0.0,-2.0,0.0
8704,2022-12-31 21:00:00,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,2.0,1.0,1.0,-1.0
8705,2022-12-31 22:00:00,6.0,0.0,-2.0,0.0,0.0,2.0,0.0,-2.0,0.0,...,-3.0,2.0,0.0,1.0,0.0,1.0,-2.0,0.0,1.0,0.0
8706,2022-12-31 23:00:00,16.0,0.0,-3.0,0.0,0.0,-1.0,0.0,0.0,0.0,...,0.0,-2.0,0.0,7.0,0.0,0.0,0.0,0.0,0.0,-2.0
8707,2023-01-01 00:00:00,-14.0,0.0,0.0,0.0,-5.0,0.0,0.0,0.0,2.0,...,0.0,-1.0,0.0,2.0,-1.0,0.0,0.0,-1.0,1.0,0.0